doctype
html(ng-app="amen")
  head
    meta(charset='utf8')
    base(href='/')
    title AMEN
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
